* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

body {
    background-image: url("nexus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #151515;
}

.bar {
    background: gray;
    height: 7vh;
    display: table;
    width: 100%;
}


li {
    list-style-type: none;
    margin: 20px;
    display: inline-flex;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.8s;
    animation: menuappeartext 0.9s forwards;
}

a:hover {
    color: cyan;
    font-size: 25px;
}


/* Header stuff */

.header {
    text-align: center;
}

/* Animations */

@keyframes menuappeartext {
    from {
        font-size: 0px;
    }

    to {
        font-size: 17px;
    }
}
